<div class="columns">
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/bird.jpg" alt="">
      </div>
      <div class="card-content">
        <h2>Evento 1</h2>
      </div>
      <div class="card-footer">
        <a href="#" class="card-footer-item">Participa</a>
        <a href="#" class="card-footer-item">Ver</a>

      </div>
    </div>

  </div>
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/bird.jpg" alt="">
      </div>
      <div class="card-content">
        <h2>Evento 1</h2>
      </div>
      <div class="card-footer">
        <a href="#" class="card-footer-item">Participa</a>
        <a href="#" class="card-footer-item">Ver</a>

      </div>
    </div>

  </div>
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <img src="assets/images/bird.jpg" alt="">
      </div>
      <div class="card-content">
        <h2>Evento 1</h2>
      </div>
      <div class="card-footer">
        <a href="#" class="card-footer-item">Participa</a>
        <a href="#" class="card-footer-item">Ver</a>

      </div>
    </div>

  </div>

</div>
